body{
    background-color: bisque;
    padding: 20px;
    margin: 0;
}

a{
    text-decoration: none;
}

.wrapper-container{
    border-radius: 10px;
    background-color: #F3F4F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


/* left side of inside the main wrapper. the "the area with score boxes" */
.left-section{
    margin-right: 150px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px 20px 20px 20px;
}

.left-score-boxes-div{
    width: 150px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.score-box{
    height: 50px;
    width: 50px;
    background-color: grey;
    margin: 2px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.9);
    border-radius: 10px;
}

/* the middle section of the wrapper container/main wrapper. the button, player choices */
.middle-section{
    width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
}

#choice-cards-div{
    display: flex;
    gap: 20px;
}

.choice-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.welcome-text{
    text-align: center;
    font-size: 30px;
    width: 500px;
    /* background-color: #FFFFFF; */
    padding: 20px;
    margin: 100px 20px 0px 20px;
    border-radius: 8px;
}

#computer-choice-div{
    text-align: center;
}


/* right side of inside the main wrapper. the "the area with history summary  box */
.right-section{
    box-sizing: content-box !important;
    height: 270px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.right-card-top-div{
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.right-card-lower-main-division{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.right-card-lower-main-division-left-child{
    background-color: bisque;
    flex:1;
    border: 1px white solid;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.right-card-lower-main-division-right-child{
    background-color: bisque;
    flex:1;
    border: 1px white solid;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.you-won-lost-colum-header{
    padding: 10px;
}

#game-result-reveal{
    display: none;
    padding-top: 100px;
    text-align: center;
    position: absolute;
    top: 140px;
    height: 400px;
    width: 600px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px 20px 20px 20px;
    backdrop-filter: blur(13px);
}

.number-of-win-lose{
    height: 50px;
}

.points-div{
    height: 100px;
}

#computer-header-choice-header, #computer-choice-div{
    display: none;
}
#replay-button{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin-top: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: none;
    font-size: larger;
}

#you-header-choice-header{
    margin-bottom: 50px;
}